.pagina-inicial
{
    text-align: center;
    
}

.botoes
{
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    

}

.botoes a 
{
    background-color:rgb(242, 242, 242);
    padding: 30px;
    margin: 30px;
    border-radius: 30px;
    text-decoration: none;
}

body
{
    background-image: linear-gradient(0deg, rgb(85, 85, 132), white);
}