.pagina-inicial
{
    text-align: center;
    
}

.tela-esquerda img 
{
    weight: 100vh;
    max-width: 100%;
}

.tela-direita 
{
padding-left: 50px;
}

.tela-login
{
    display:flex;
}

.botoes
{
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    

}

.botoes a 
{
    background-color:rgb(242, 242, 242);
    padding: 30px;
    margin: 30px;
    border-radius: 30px;
    text-decoration: none;
}

body
{
    background-image: linear-gradient(0deg, rgb(85, 85, 132), white);
    background-attachment: fixed;
}

.tela-login
{
    text-align: center;
}

.logo-home img 
{
    width: 70px; /* Altere para o tamanho desejado */
    height: auto; /* Mantém a proporção da imagem */
    top: -95px; /* Alinha ao topo */
    left: -80px; /* Alinha à esquerda */
}
.logo-home
{
    background-color: #ADD8E6;
    display: flex;
    justify-content: space-between;
}


.informações li
{
display: inline;
}

.informações 

{
    margin-right: 80px;
}

.bayer img 
{
    width: 70px;
    margin-left: 60px;
    margin-top: 50px;
}

.bayer a 
{
    margin-top: 50px;
}

.bayer
{
    display: flex;
    align-items: center;
}



.real-madrid img 
{
     width: 110px;
    margin-left: 40px;
    margin-top: 50px;
}

.real-madrid a 
{
    margin-top: 60px;
    margin-left: -20px;
}

.real-madrid
{
display: flex ;
align-items: center;
}


.Barcelona img 
{
    width: 65px;
    margin-left: 65px;
    margin-top: 50px;
}

.Barcelona a 
{
    margin-top:40px;
    margin-left:1px;
}

.Barcelona
{
    display:flex;
    align-items: center ;
}